main {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #dfdede ;
  margin-top: 150px;
}

footer{
  padding: 25px;
}

.form-login {
    display: flex;
    flex-direction: column;
}

main form input {
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 8px;
    flex: 1;
    width: 65%;
}

main form input[type="text"] {
  margin-top: 15px;
  margin-right: 0px;
  border: none;
  max-width: none;
  flex: 1;
  width: 65%;
}

main button[type="submit"] {
  background-color: grey; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  flex: 1;
  width: 65%;
  border-radius: 8px;
}

.form-login #login-enviar:hover {
  background-color: #0022AA;
}

@media (min-width: 360px){
  .producto{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .a-la-izquierda{
      display: inline;
  }
  main{
    margin-top: 138px;
  }
}

@media (min-width: 437px){
  main{
    margin-top: 160px;
  }
}

@media (min-width: 852px){
  main{
    margin-top: 185px;
  }
}

@media (min-width: 859px){
  main{
    margin-top: 200px;
  }
}

@media (min-width: 768px){
  .descripciones {
      display:inline;
  }
  .producto{
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  .a-la-izquierda{
      display: inline;
  }
  .burger-menu{
      display: none;
  }
}

@media (min-width: 920px){
 main{
  margin-top: 235px;
 } 

 footer{
  margin-top: 190px;
 }

}

@media (min-width: 1033px){
  main{
    margin-top: 250px;
  }
}

@media (min-width: 1450px){
  main{
  margin-top: 290px;
  }

  footer{
    position: absolute;
    bottom: 0px;
  }
  
}
